.tail-select,
.tail-select *,
.tail-select *:before,
.tail-select *:after {
    box-sizing: border-box;
}
.tail-select{
    width: 250px;
    margin: 1px;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    font-family: inherit;
}
.tail-select mark{
    color: white;
    background-color: #DC4650;
}
.tail-select button{
    outline: none;
}
.tail-select button.tail-all, .tail-select button.tail-none{
    height: auto;
    margin: 0 2px;
    padding: 2px 6px;
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    text-shadow: none;
    letter-spacing: 0;
    text-transform: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: none;
    transition: color 142ms linear, border 142ms linear, background 142ms linear;
}
.tail-select button.tail-all{
    color: rgba(255, 255, 255, 0.35);
    border-color: rgba(255, 255, 255, 0.35);
    background-color: transparent;
}
.tail-select button.tail-all:hover{
    color: #62C462;
    border-color: #62C462;
    background-color: transparent;
}
.tail-select button.tail-none{
    color: rgba(255, 255, 255, 0.35);
    border-color: rgba(255, 255, 255, 0.35);
    background-color: transparent;
}
.tail-select button.tail-none:hover{
    color: #EE5F5B;
    border-color: #EE5F5B;
    background-color: transparent;
}
.tail-select.disabled button.tail-all{
    color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
}
.tail-select.disabled button.tail-none{
    color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
}
.tail-select input[type="text"]{
    color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
    outline: 0;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    background-color: transparent;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.tail-select input[type="text"]:hover{
    color: rgba(255, 255, 255, 0.85);
    border-color: transparent;
    background-color: transparent;
}
.tail-select input[type="text"]:focus{
    color: #3C82E6;
    border-color: transparent;
    background-color: transparent;
}
.tail-select.disabled input[type="text"]{
    color: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    background-color: transparent;
}
.tail-select-container{
    margin: 0;
    padding: 3px;
    text-align: left;
    border-radius: 3px;
}
.tail-select-container .select-handle{
    width: auto;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    margin: 1px;
    padding: 0.2em 0.6em 0.3em;
    display: inline-block;
    position: relative;
    font-size: 11.844px;
    text-align: left;
    font-weight: bold;
    line-height: 16px;
    text-shadow: none;
    vertical-align: top;
    background-color: #000000;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    transition: background 142ms linear;
}
.tail-select-container .select-handle:hover{
    color: rgba(255, 255, 255, 0.85);
    background-color: #DC4650;
}
.tail-select-container.select-label .select-handle{
    margin: 5px 3px;
}
/* @end GENERAL */

/* @start LABEL */
.tail-select .select-label{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 0;
    padding: 5px 30px 5px 10px;
    display: block;
    z-index: 27;
    position: relative;
    text-align: left;
    background-color: #202428;
    border-width: 0px;
    border-style: solid;
    border-color: #101418;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #000408, inset 0 0 1px 1px #404448;
    transition: background 142ms linear, box-shadow 142ms linear;
}
.tail-select .select-label:after{
    top: 15px;
    right: 12px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    z-index: 25;
    content: "";
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    border-top: 5px dashed;
    border-top: 5px solid\9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    text-shadow: none;
    transition: opacity 142ms linear, transform 142ms linear;
}
.tail-select .select-label .label-count, .tail-select .select-label .label-inner{
    width: auto;
    margin: 0;
    text-align: left;
    vertical-align: top;
}
.tail-select .select-label .label-count{
    float: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 5px 0 0;
    padding: 0 7px 0 0;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    text-shadow: none;
    white-space: nowrap;
    vertical-align: top;
    border-width: 0px 1px 0 0;
    border-style: solid;
    border-color: #101418;
    border-radius: 0px;
}
.tail-select .select-label .label-inner{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tail-select:hover .select-label, .tail-select.idle .select-label,
.tail-select.active .select-label{
    z-index: 25;
    box-shadow: 0 0 0 1px #000408, inset 0 0 1px 1px #3C82E6;
}
.tail-select:hover .select-label:after, .tail-select.idle .select-label:after,
.tail-select.active .select-label:after{
    opacity: 0.85;
}
.tail-select:hover .select-label .label-count, .tail-select.idle .select-label .label-count,
.tail-select.active .select-label .label-count, .tail-select:hover .select-label .label-inner,
.tail-select.idle .select-label .label-inner, .tail-select.active .select-label .label-inner{
    opacity: 1;
}
.tail-select.active .select-label{
    z-index: 27;
}
.tail-select.active .select-label:after{
    opacity: 0.85;
    transform: rotate(180deg);
}
.tail-select.disabled .select-label{
    cursor: not-allowed;
    box-shadow: 0 0 0 1px #000408, inset 0 0 1px 1px #404448;
}
/* @end LABEL */

/* @start DROPDOWN */
.tail-select .select-dropdown{
    top: 100%;
    left: 0;
    color: rgba(255, 255, 255, 0.85);
    width: 100%;
    min-height: 35px;
    margin: -1px 0 0 0;
    padding: 0;
    z-index: 30;
    display: none;
    overflow: hidden;
    position: absolute;
    background-color: #202428;
    border-width: 0px;
    border-style: solid;
    border-color: #101418;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 0 1px #000408, inset 0 0 1px 1px #404448;
}
.tail-select .select-dropdown .dropdown-search{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #101418;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.tail-select .select-dropdown .dropdown-inner{
    width: 100%;
    margin: 0;
    padding: 1px 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.tail-select .select-dropdown .dropdown-empty{
    margin: 0;
    padding: 16px 0;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}
.tail-select .select-dropdown .dropdown-action{
    top: 3px;
    right: 15px;
    width: auto;
    margin: 0;
    padding: 7px 0;
    z-index: 35;
    display: inline-block;
    position: absolute;
    text-align: center;
}
.tail-select .select-dropdown ul, .tail-select .select-dropdown ul li{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
}
.tail-select .select-dropdown ul li{
    color: rgba(255, 255, 255, 0.85);
    padding: 5px 10px 5px 35px;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    font-weight: normal;
}
.tail-select .select-dropdown ul li:first-of-type{
    margin-top: 7px;
}
.tail-select .select-dropdown ul li:last-of-type{
    margin-bottom: 7px;
}
.tail-select .select-dropdown ul li.optgroup-title{
    color: rgba(255, 255, 255, 0.55);
    cursor: default;
    margin: 9px 0 0 0;
    padding-left: 10px;
    font-size: 14px;
    text-shadow: none;
}
.tail-select .select-dropdown ul li.optgroup-title button{
    float: right;
    margin-top: -2px;
    opacity: 0;
}
.tail-select .select-dropdown ul:hover li button{
    opacity: 1;
}
.tail-select .select-dropdown ul li.dropdown-option{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.85);
}
.tail-select .select-dropdown ul li.dropdown-option:before{
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    z-index: 21;
    display: inline-block;
    content: "";
    opacity: 0;
    position: absolute;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 50ms linear;
}
.tail-select .select-dropdown ul li.dropdown-option .option-description{
    color: rgba(255, 255, 255, 0.7);
    width: auto;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 10px;
    text-align: left;
    line-height: 14px;
    vertical-align: top;
}
.tail-select .select-dropdown ul li.dropdown-option:hover,
.tail-select .select-dropdown ul li.dropdown-option.hover{
    color: rgba(255, 255, 255, 0.85);
}
.tail-select .select-dropdown ul li.dropdown-option:hover .option-description,
.tail-select .select-dropdown ul li.dropdown-option.hover .option-description{
    color: rgba(255, 255, 255, 0.85);
}
.tail-select.open-top .select-dropdown{
    top: auto;
    bottom: 100%;
    margin: 0 0 -1px 0;
    border-radius: 3px 3px 0 0;
}
.tail-select.hide-selected .select-dropdown ul li.selected,
.tail-select.hide-disabled .select-dropdown ul li.disabled{
    display: none;
}
/* State & Icons :: Single */
.tail-select .select-dropdown ul li.dropdown-option:before{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M8%203v3a2%202%200%200%201-2%202H3m18%200h-3a2%202%200%200%201-2-2V3m0%2018v-3a2%202%200%200%201%202-2h3M3%2016h3a2%202%200%200%201%202%202v3%22%3E%3C/path%3E%3C/svg%3E");
}
.tail-select .select-dropdown ul li.dropdown-option:hover:before,
.tail-select .select-dropdown ul li.dropdown-option.hover:before{
    opacity: 0.5;
}
.tail-select .select-dropdown ul li.dropdown-option.selected{
    color: #3C82E6;
    background-color: #202428;
}
.tail-select .select-dropdown ul li.dropdown-option.selected:before{
    opacity: 0.85;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%2220%206%209%2017%204%2012%22%3E%3C/polyline%3E%3C/svg%3E");
}
.tail-select .select-dropdown ul li.dropdown-option.selected .option-description{
    color: #3C82E6;
}
.tail-select.deselect .select-dropdown ul li.dropdown-option.selected:hover:before,
.tail-select.deselect .select-dropdown ul li.dropdown-option.selected.hover:before{
    opacity: 0.85;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cline%20x1%3D%2218%22%20y1%3D%226%22%20x2%3D%226%22%20y2%3D%2218%22%3E%3C/line%3E%3Cline%20x1%3D%226%22%20y1%3D%226%22%20x2%3D%2218%22%20y2%3D%2218%22%3E%3C/line%3E%3C/svg%3E");
}
.tail-select.deselect .select-dropdown ul li.dropdown-option.selected:hover .option-description,
.tail-select.deselect .select-dropdown ul li.dropdown-option.selected.hover .option-description{
    color: #3C82E6;
}
.tail-select .select-dropdown ul li.dropdown-option{
    transition: all 0.3s ease-in;
}
.tail-select .select-dropdown ul li.dropdown-option:hover,
.tail-select .select-dropdown ul li.dropdown-option.hover{
    transition: all 0.4s ease;
    background-color: #171d24;
}
.tail-select.disabled .select-dropdown ul li.dropdown-option,
.tail-select .select-dropdown ul li.dropdown-option.disabled{
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px -1px 0px rgba(179, 179, 179, 0.1);
    background-color: #2a2a2a;
}
.tail-select.disabled .select-dropdown ul li.dropdown-option:before,
.tail-select .select-dropdown ul li.dropdown-option.disabled:before{
    opacity: 0.85;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M8%203H5a2%202%200%200%200-2%202v3m18%200V5a2%202%200%200%200-2-2h-3m0%2018h3a2%202%200%200%200%202-2v-3M3%2016v3a2%202%200%200%200%202%202h3%22%3E%3C/path%3E%3C/svg%3E");
}
.tail-select.disabled .select-dropdown ul li.dropdown-option .option-description,
.tail-select .select-dropdown ul li.dropdown-option.disabled .option-description{
    color: rgba(255, 255, 255, 0.25);
}
/* State & Icons :: Multiple */
.tail-select.multiple .select-dropdown ul li.dropdown-option:before{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%3E%3C/circle%3E%3Cline%20x1%3D%2212%22%20y1%3D%228%22%20x2%3D%2212%22%20y2%3D%2216%22%3E%3C/line%3E%3Cline%20x1%3D%228%22%20y1%3D%2212%22%20x2%3D%2216%22%20y2%3D%2212%22%3E%3C/line%3E%3C/svg%3E");
}
.tail-select.multiple .select-dropdown ul li.dropdown-option.selected:before{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M22%2011.08V12a10%2010%200%201%201-5.93-9.14%22%3E%3C/path%3E%3Cpolyline%20points%3D%2222%204%2012%2014.01%209%2011.01%22%3E%3C/polyline%3E%3C/svg%3E");
}
.tail-select.multiple .select-dropdown ul li.dropdown-option.selected:hover:before,
.tail-select.multiple .select-dropdown ul li.dropdown-option.selected.hover:before{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%3E%3C/circle%3E%3Cline%20x1%3D%228%22%20y1%3D%2212%22%20x2%3D%2216%22%20y2%3D%2212%22%3E%3C/line%3E%3C/svg%3E");
}
.tail-select.multiple.disabled .select-dropdown ul li.dropdown-option:before,
.tail-select.multiple .select-dropdown ul li.dropdown-option.disabled:before{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22rgba%28255,%20255,%20255,%200.85%29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2210%22%3E%3C/circle%3E%3C/svg%3E");
}
/* @end DROPDOWN */
